@mixin list-hover {
	background-color: $uni-bg-color-hover;
}

@mixin list-disabled {
	opacity: 0.3;
}

$list-item-pd: $uni-spacing-col-lg $uni-spacing-row-lg;

.uni-list-item {
	font-size: $uni-font-size-lg;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	&--disabled {
		@include list-disabled;
	}

	&--hover {
	    @include list-hover;
	}

	&__container {
	     padding: $list-item-pd;
		 width: 100%;
		 box-sizing: border-box;
		 flex: 1;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		&:after {
			position: absolute;
			z-index: 3;
			right: 0;
			bottom: 0;
			left: 30upx;
			height: 1px;
			content: '';
			-webkit-transform: scaleY(0.5);
			transform: scaleY(0.5);
			background-color: $uni-border-color;
		}
	}

	&__content {
		flex: 1;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		color: #3b4144;

		&-title {
			font-size: $uni-font-size-lg;
			text-overflow: ellipsis;
			white-space: nowrap;
			color: inherit;
			line-height: 1.2;
			overflow: hidden;
		}

		&-note {
			margin-top: 1upx;
			color: $uni-text-color-grey;
			font-size: $uni-font-size-base;
			white-space: normal;
			display: -webkit-box;
			//text-overflow: ellipsis;
			//white-space:nowrap; /*文本不换行*/
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
			overflow: hidden;
		}
	}

	&__extra {
		width: 25%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
	}

	&__icon {
		margin-right: 10upx;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		&-img {
			height: 65px;
			width: 65px;
		}
		&-btn {
			margin-top: 10upx;
			line-height: 12px;
			width: 48px;
			font-size: 12px;
			background: #ff9300;
			padding: 6upx;
			border-radius: 5upx;
			text-align: center;
			color:#fff
		}
	}
}

.uni-list > .uni-list-item:last-child .uni-list-item-container:after {
	height: 0px;
}